* {
  margin: 0%;
  padding: 0%;
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
   
  }
  
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body{
    background: #000;
  }


 .Fornt{
  height: 100vh;
  width: 100%;
  background-image: url(bg.jpg);  
background-position: center;
background-size: cover;
z-index: -1;
display: flex;
 mask-image: url(ink_lv2.gif); 
mask-repeat: no-repeat;
mask-size: cover;
} 
.Fornt div{

 height: 45%;
 margin: auto;
}
.Fornt div h1{
  color: aliceblue;
  font-family: 'Hallowed Grounds';
text-align: center;
margin-top: 40px;
font-size: 6vw;

}

.Fornt div h3{
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
text-align: center;
font-size: 1vw;
}

.pic{
  position: relative;
right: 500px;
transition: 2s ease-out;
opacity: 0;
}
.pic img{
  width: 400px;
  height: 96vh;
  margin-top: 50px;
  margin-left: 20%;
  border-radius: 10px;
}
.pic--visible{
position: relative;
right: 0px;
opacity: 1;
}
.about-pic{
  display:flex;
  flex-wrap: nowrap;
}
.text{
  width: 40%;
  height: 60vh;
justify-self: end;
margin-top: 200px;
margin-left: 250px;
color: rgb(255, 255, 255);
opacity: 0;
transition: 1.5s ease;
}
.text--visible{
  opacity: 1;
}
.text h1{
 text-align: center;
font-family:'orpheus-pro' ;
}
.text h3{
  font-family:'Hallowed Grounds' ;
font-size: medium;
}
.about_ii{
display: flex;
}
.text_ii{
background: #000;
width: 40%;
height: 60vh;
justify-self: end;
margin-top: 200px;
margin-left: 100px;
color: rgb(255, 255, 255);
 opacity: 0; 
transition: 1.5s ease;
}
.text_ii--visible{
  opacity: 1;
}

.text_ii h1{
  text-align: center;
 font-family:'orpheus-pro' ;
 }
 .text_ii h3{
   font-family:'Hallowed Grounds' ;
 font-size: medium;
 }
.pic_ii{
  position: relative;
  left: 500px;
  transition: 2s ease;
}
 .pic_ii img{
  width: 400px;
  height: 96vh;
  margin-top: -50px;
  margin-left: 40%;
  border-radius: 10px;
  
 }
 .pic_ii--visible{
  position: relative;
  left: 0px;
  }
  .services{
    width: 100%;
display: flex;
justify-content: center;

  }
  .services_div{
    height:auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
   
    
  }
  .services_div div{

    margin-top: 20px;
    height: 250px;
    width: 300px;
    margin: 10px;
    background: #000;
    border-radius: 10px;
    margin-left: 40px;
    border: 1px solid rgba(255, 255, 255, .11);
    border-left: 3px solid rgba(255, 255, 255, .11);
    transition:0.5s  ease-out;
    -webkit-font-smoothing: antialiased;
  }
  .services_div div:hover{
    border-left: 3px solid rgb(128, 128, 128);

  }
  
  .services_div div h2{
font-family: orpheus-pro;
color: rgb(255, 255, 255);
text-align: center;
font-size: 2rem;
margin-top: 20px;
font-weight: 100;
  } 
  .h_ii{
    position: relative;
    top: 40px;
    transition: 0.3s ease-out;
    opacity: 0;
   
  }
   .h_ii--visible {
position: relative;
top: 0px;
opacity: 1;
  }

  .services_div div h3{
    font-family:Poppins;
    color: rgb(255, 255, 255);
    text-align:start;
    font-size: 0.9rem;
    margin-top: 20px;
    margin-left: 15px;
    letter-spacing: .03rem;
    line-height: 210%;
      }
      .services_div div a{
     
        font-size: small;
      color:#d4a373;
      font-weight: 500;
      letter-spacing: .12rem;
      text-transform: uppercase;
      font-style: normal;
      margin-left: 30px;
      }
      footer {
        background-color: #000;
        color: #d4a373;
        padding: 20px 0;
        text-align: center;
        font-family: Arial, sans-serif;
        margin-top: 30px;
      }
      
      .footer-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
      }
      
      .contact-info p,
      .social-icons a {
        margin: 5px 0;
      }
      
      .contact-info a,
      .social-icons a {
        color: #d4a373;
        text-decoration: none;
        transition: all 0.2s linear;
      }
      
      .social-icons a {
        margin: 0 10px;
        transition: all 0.2s linear;
      }
      
      .contact-info a:hover ,.social-icons a:hover {
        text-decoration: underline;
        color: white;
      }
      
      .logo p {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        color: rgb(255, 255, 255);
        font-family: poppon;
      }
      
      .footer-bottom {
        border-top: 1px solid #d4a373;
        padding-top: 10px;
      }
      
      .footer-bottom p {
        margin: 5px 0;
        color: gray;
        font-family: poppon;
      }
      
      .footer-bottom a {
        color: #d4a373;
        text-decoration: none;
        font-family: poppon;
      }
      
      .footer-bottom a:hover {
        text-decoration: underline;
        font-family: poppon;
        color: white;
        
      }
      